<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3WPEzRRfFp3sl3jBK1_Oo5thDNN3Vq_g</string>
	<key>GCM_SENDER_ID</key>
	<string>1078959492808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mota7.app</string>
	<key>PROJECT_ID</key>
	<string>mota7-go</string>
	<key>STORAGE_BUCKET</key>
	<string>mota7-go.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078959492808:ios:763364b8ccb51000551ffd</string>
</dict>
</plist>