<app-mota7-header 
  [title]="editData.ad_type === 'education' ? 'تعديل إعلان تعليمي' : 
           editData.ad_type === 'delivery' ? 'تعديل إعلان توصيل' : 
           editData.ad_type === 'store' ? 'تعديل بيانات المتجر' : 
           editData.ad_type === 'product' ? 'تعديل بيانات المنتج' : 'تعديل خدمة أخرى'" 
  [showBackButton]="true" 
  (backClick)="close()">
</app-mota7-header>

<ion-content class="ion-padding">
  <div class="edit-container">

    <ng-container *ngIf="editData.ad_type === 'delivery'">
      <div class="section-title">بيانات السائق والتواصل</div>
      
      <div class="mota7-input-group">
        <label>اسم السائق</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.details.driver_name" (ionInput)="onEditIonInput($event, 'details.driver_name')" placeholder="أدخل اسم السائق"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>نوع المركبة / الخدمة</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.category_id"
            placeholder="اختر النوع (تاكسي، ملاكي، إلخ)"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let cat of deliveryCategoryItemsForSelect; trackBy: trackByCategoryId" [value]="cat.id">
              {{ cat.nameAr }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>رقم هاتف التواصل</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.owner_phone" (ionInput)="onEditIonInput($event, 'owner_phone')" type="tel" placeholder="01xxxxxxxxx"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>رقم واتساب</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.details.whatsapp_phone" (ionInput)="onEditIonInput($event, 'details.whatsapp_phone')" type="tel" placeholder="01xxxxxxxxx"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>المدينة</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.city"
            placeholder="اختر المدينة"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let c of citySelectOptions; trackBy: trackByString" [value]="c">{{ c }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="section-title">إعدادات الخدمة</div>
      
      <div class="options-grid">
        <ion-item lines="none" class="mota7-toggle-item">
          <ion-label>متاح للسفر (محافظات)</ion-label>
          <ion-toggle [(ngModel)]="editData.details.can_travel" color="warning"></ion-toggle>
        </ion-item>

        <ion-item lines="none" class="mota7-toggle-item">
          <ion-label>متاح للإيجار</ion-label>
          <ion-toggle [(ngModel)]="editData.details.for_rent" color="warning"></ion-toggle>
        </ion-item>

        <ion-item lines="none" class="mota7-toggle-item">
          <ion-label>الحالة (متاح الآن)</ion-label>
          <ion-toggle [(ngModel)]="editData.details.is_available" color="success"></ion-toggle>
        </ion-item>
      </div>
    </ng-container>

    <ng-container *ngIf="editData.ad_type === 'education'">
      <div class="section-title">بيانات المعلم والمادة</div>

      <div class="mota7-input-group">
        <label>المرحلة التعليمية</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.category_id"
            (ionChange)="onEducationStageIonChange()"
            placeholder="اختر المرحلة التعليمية"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let cat of educationStageItemsForSelect; trackBy: trackByCategoryId" [value]="cat.id">
              {{ cat.nameAr }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="mota7-input-group" *ngIf="editData.category_id">
        <label>المادة العلمية</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.details.subject"
            placeholder="اختر المادة العلمية"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let sub of educationSubjectOptionsForSelect; trackBy: trackByString" [value]="sub">{{ sub }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>اسم المعلم / المركز</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.details.teacher_name" (ionInput)="onEditIonInput($event, 'details.teacher_name')" placeholder="أدخل اسم المعلم"></ion-input>
        </ion-item>
      </div>
      
      <div class="mota7-input-group">
        <label>رقم واتساب التواصل</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.details.whatsapp_phone" (ionInput)="onEditIonInput($event, 'details.whatsapp_phone')" type="tel" placeholder="01xxxxxxxxx"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>المدينة</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.city"
            placeholder="اختر المدينة"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let c of citySelectOptions; trackBy: trackByString" [value]="c">{{ c }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="section-title">إعدادات الظهور</div>
      
      <div class="options-grid">
        <ion-item lines="none" class="mota7-toggle-item">
          <ion-label>الحالة (متاح الآن)</ion-label>
          <ion-toggle [(ngModel)]="editData.is_available" color="success"></ion-toggle>
        </ion-item>
      </div>
    </ng-container>

    <ng-container *ngIf="editData.ad_type === 'store'">
      <div class="section-title">بيانات المتجر والتواصل</div>

      <div class="section-title section-title--compact">لوجو المتجر</div>
      <div class="images-edit-grid store-logo-edit">
        <input
          #storeLogoFileInput
          type="file"
          hidden
          accept="image/*"
          (change)="onStoreLogoFileSelected($event)"
        />
        <div class="image-box" *ngIf="editData.logo">
          <img
            [src]="editData.logo"
            (error)="$any($event.target).src = 'assets/mota7.png'"
            alt="لوجو المتجر"
          />
          <button type="button" class="delete-icon" (click)="removeStoreLogo()" aria-label="حذف اللوجو">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </div>
        <div class="add-image-box" (click)="storeLogoFileInput.click()">
          <ion-icon name="camera-outline"></ion-icon>
          <span>{{ editData.logo ? 'تغيير اللوجو' : 'رفع لوجو' }}</span>
        </div>
      </div>

      <div class="mota7-input-group">
        <label>اسم المتجر</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.store_name" (ionInput)="onEditIonInput($event, 'store_name')" placeholder="أدخل اسم المتجر"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>اسم صاحب المتجر</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.owner_name" (ionInput)="onEditIonInput($event, 'owner_name')" placeholder="أدخل اسم صاحب المتجر"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>نوع النشاط التجاري</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.category_id"
            placeholder="اختر تصنيف متجرك"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let cat of storeCategoryItemsForSelect; trackBy: trackByCategoryId" [value]="cat.id">
              {{ cat.nameAr }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>رقم هاتف التواصل</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.owner_phone" (ionInput)="onEditIonInput($event, 'owner_phone')" type="tel" placeholder="01xxxxxxxxx"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>رقم واتساب المتجر</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.details.whatsapp_phone" (ionInput)="onEditIonInput($event, 'details.whatsapp_phone')" type="tel" placeholder="01xxxxxxxxx"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>المدينة</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.city"
            placeholder="اختر المدينة"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let c of citySelectOptions; trackBy: trackByString" [value]="c">{{ c }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ng-container>

<ng-container *ngIf="editData.ad_type === 'product'">
      <div class="section-title">صور المنتج</div>

      <input
        #productFileInput
        type="file"
        hidden
        accept="image/*"
        (change)="onProductImageFileSelected($event)"
      />
      <div class="images-edit-grid">
        <div class="image-box" *ngFor="let adImage of editData.details.images; let i = index">
          <img [src]="adImage" (error)="$any($event.target).src = 'assets/mota7.png'" alt="صورة المنتج" />
          <button type="button" class="delete-icon" (click)="removeProductImage(i)" aria-label="حذف الصورة">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </div>

        <div class="add-image-box" (click)="productFileInput.click()">
          <ion-icon name="camera-outline"></ion-icon>
          <span>إضافة صورة</span>
        </div>
      </div>

      <div class="section-title">بيانات المنتج والتصنيف</div>

      <div class="mota7-input-group">
        <label>نوع المنتج</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.category_id"
            (ionChange)="onProductMainCategoryIonChange()"
            placeholder="حدد النوع"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let cat of productMainCategoryItemsForSelect; trackBy: trackByCategoryId" [value]="cat.id">
              {{ cat.nameAr }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="mota7-input-group" *ngIf="productSubCategoryOptionsForSelect.length > 0">
        <label>فئة المنتج</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.sub_category_name"
            placeholder="حدد الفئة"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let sub of productSubCategoryOptionsForSelect; trackBy: trackByString" [value]="sub">{{ sub }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>اسم المنتج</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.details.title" (ionInput)="onEditIonInput($event, 'details.title')" placeholder="أدخل اسم المنتج"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>وصف مختصر</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.details.short_desc" (ionInput)="onEditIonInput($event, 'details.short_desc')" placeholder="وصف سريع للمنتج"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>الوصف التفصيلي</label>
        <ion-item lines="none" class="mota7-item">
          <ion-textarea [ngModel]="editData.details.full_details" (ionInput)="onEditIonInput($event, 'details.full_details')" rows="3" placeholder="أدخل تفاصيل المنتج الكاملة"></ion-textarea>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>السعر</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.details.price" (ionInput)="onEditIonInput($event, 'details.price')" type="number" placeholder="أدخل السعر"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>حالة المنتج</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select [(ngModel)]="editData.details.condition" interface="action-sheet" mode="ios" class="mota7-select">
            <ion-select-option value="غير محدد">غير محدد</ion-select-option>
            <ion-select-option value="جديد">جديد</ion-select-option>
            <ion-select-option value="مستعمل">مستعمل</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>رقم واتساب للتواصل</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.details.whatsapp_phone" (ionInput)="onEditIonInput($event, 'details.whatsapp_phone')" type="tel" placeholder="01xxxxxxxxx"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>المدينة</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.city"
            placeholder="اختر المدينة"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let c of citySelectOptions; trackBy: trackByString" [value]="c">{{ c }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ng-container>

    <ng-container *ngIf="editData.ad_type === 'other'">
      <div class="section-title">بيانات مقدم الخدمة</div>

      <div class="mota7-input-group">
        <label>اسم الفني / مقدم الخدمة</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.details.provider_name" (ionInput)="onEditIonInput($event, 'details.provider_name')" placeholder="أدخل اسم مقدم الخدمة"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>نوع الخدمة / الحرفة</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.category_id"
            placeholder="اختر نوع الخدمة"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let cat of otherServiceCategoryItemsForSelect; trackBy: trackByCategoryId" [value]="cat.id">
              {{ cat.nameAr }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>رقم هاتف التواصل</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.owner_phone" (ionInput)="onEditIonInput($event, 'owner_phone')" type="tel" placeholder="01xxxxxxxxx"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>رقم واتساب</label>
        <ion-item lines="none" class="mota7-item">
          <ion-input [ngModel]="editData.details.whatsapp_phone" (ionInput)="onEditIonInput($event, 'details.whatsapp_phone')" type="tel" placeholder="01xxxxxxxxx"></ion-input>
        </ion-item>
      </div>

      <div class="mota7-input-group">
        <label>المدينة</label>
        <ion-item lines="none" class="mota7-item">
          <ion-select
            [(ngModel)]="editData.city"
            placeholder="اختر المدينة"
            interface="action-sheet"
            mode="ios"
            class="mota7-select"
          >
            <ion-select-option *ngFor="let c of citySelectOptions; trackBy: trackByString" [value]="c">{{ c }}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="section-title">إعدادات الظهور</div>
      
      <div class="options-grid">
        <ion-item lines="none" class="mota7-toggle-item">
          <ion-label>الحالة (متاح الآن)</ion-label>
          <ion-toggle [(ngModel)]="editData.is_available" color="success"></ion-toggle>
        </ion-item>
      </div>
    </ng-container>

    <div class="footer-actions">
      <ion-button expand="block" (click)="saveChanges()" class="save-btn">
        {{ editData.ad_type === 'education' ? 'حفظ بيانات التعليم' : 
           editData.ad_type === 'delivery' ? 'حفظ بيانات التوصيل' : 
           editData.ad_type === 'store' ? 'حفظ بيانات المتجر' : 
           editData.ad_type === 'product' ? 'حفظ بيانات المنتج' : 'حفظ بيانات الخدمة' }}
      </ion-button>
    </div>

  </div>
</ion-content>