.users-container {
  padding: 16px;
  background: #f8f9fb; /* خلفية الصفحة رمادي خفيف جداً لإبراز الكروت والهيدر الأبيض */
  min-height: 100%;
}

.search-section {
  margin-bottom: 20px;
  .search-bar-wrapper {
    background: #fafafa;
    border-radius: 15px;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px 1px rgb(126 1 1 / 87%);
    ion-icon { color: #ad0202; margin-left: 10px; font-size: 22px; }
    input {
      border: none;
      outline: none;
      width: 100%;
      font-weight: 700;
      color: #000000;
      font-size: 0.95rem;
      background: #fafafa;
      text-align: center;
      &::placeholder {
        text-align: center;
      }
    }
  }
}

.user-card-luxury {
background: #ffffff;
    border-radius: 22px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    box-shadow: 0px 0px 14px 6px rgb(0 0 0 / 83%);
    border: 1px solid #f1f5f9;

  .user-avatar {
    width: 52px; height: 52px;
    background: #FF6B00; 
    color: white;
    border-radius: 16px;
    display: flex; align-items: center; justify-content: center;
    ion-icon { font-size: 30px; }
  }

  .user-info {
    flex: 1;
    margin-right: 15px;
    h3 { margin: 0; font-weight: 800; color: #000000; font-size: 1.2rem; }
    p { margin: 4px 0; color: #000000; font-size: 1.1rem; font-weight: 700; }
    .badges-row { 
      display: flex; gap: 6px; margin-top: 3px; 
      ion-badge { padding: 5px 10px; border-radius: 8px; font-weight: 800; font-size: 0.65rem; }
    }
  }
}